{% extends 'pre_pages_background.html' %}

{% block static %}

<title> KBCexams | Forget Password </title>


{% endblock %}

{% block form_div %}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Forget Password</p>
        <form action="/forget_password" method="post">
            <input class="text email" type="email" name="email" placeholder="Email" required="">
            
            <input type="submit" id="login_button" value="SEND">
        </form>
    </div>
</div>

{% endblock %}