{% extends 'pre_pages_background.html' %}

{% block static %}

<title> KBCexams | Retrieve Password </title>


{% endblock %}

{% block form_div %}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Retrieve Password</p>
        <form action="/forget_password" method="post">
            <input class="text email" type="email" name="email" placeholder="Email" required="">
            
            <input type="submit" id="login_button" value="SUBMIT">
        </form>
        <p>Back To <a href="/login">Login</a></p>
    </div>
</div>

{% endblock %}