{% extends 'pre_pages_background.html' %}

{% block static %}

<title> KBCexams | Reset Password </title>

{% endblock %}

{% block form_div %}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Reset Password</p>
        <br>
        <form method="post" action="/reset_password_confirm_api"> 
            <input name="email" value="{{ email }}" type="hidden">
            <input name="token" value="{{ token }}" type="hidden">
            <input id="password1" class="text"  type="password" name="password" placeholder="Password" required="">
            <input id="password2" class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            
            {% if error %}
            <br>
            <p id="errorAlert" style="color: rgb(190, 80, 80);"> password doesn't match </p>
            {% endif %}
            
            
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</div>

{% endblock %}