{% extends 'pre_pages_background.html' %}

{% block pre_css %}

<title> KBCexams </title>

{% endblock %}

{% block form_div %}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p class="kbsexam-title">
            KBCexams
        </p>
        <hr> 
        <br>   
        <p>
            Win upto Rs. 1 Lakh by answering simple MCQs
            <br><br>
                Signup with your email
                <br>
                Join the contest
                <br>
                Answer 10 MCQ questions
                <br>
                Win prizes
            
        </p>
        <br>
        <hr>
        <p> 
            For New Users
            <br>
            <a href="/signup"> Sigh Up!</a>
        </p>
        <br>
        <p>
            For Existing Users
            <br>
            <a href="/login"> Login Now!</a>
        </p>
    </div>
</div>
{% endblock %}