/* The Modal (background) */
.modal {
    color: black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #76b852;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .question_floor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    max-width: 700px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.is-blurred {
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */
}
  

/* panel layout mechanics */
.panel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30em;
    transform: translateX(100%);
    transition: .3s ease-out;
  }
  .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #eee;
    overflow: auto;
    padding: 1em;
  }
  
  /* simulate panel state control --
  this can also be triggered by a 
  class name added to the body tag. 
  Just using a checkbox sibling here
  for simplicity
  */ 
  [type="checkbox"]:checked ~ .panel-wrap {
    transform: translateX(0%);
  }
  
  

  [type="checkbox"] {
    font-size: 1em;
  }
  

.navigation-next-previous{
    text-align: center;
    float: center;
}

  
 .navigation_button {
      width: 50%;
      float: left;
    text-decoration: none;
    display: inline-flex;
    padding: 8px 16px;
  }
  
  .navigation_button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }