.logo{
  width:200px;
  height: 35px;
}



#main-logo{
  margin-left: 30px;
}

.sidebar-text{
  text-align: center;
}

  *,
  :after,
  :before {
    box-sizing: border-box
  }
  
  .clearfix:after,
  .clearfix:before {
    content: '';
    display: table
  }
  
  .clearfix:after {
    clear: both;
    display: block
  }
  
  .mobile-wrap {
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
  }
  
  .mobile-wrap:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: rgba(90, 93, 165, .8);
    background: linear-gradient(to bottom, rgba(90, 93, 165, 1), rgba(0, 0, 0, .7))
  }
  
  .mobile {
    z-index: 99;
    color: #fff;
    height: 100%;
    padding: 15px;
    position: relative
  }
  
  .mobile .header {
    clear: both;
    overflow: hidden;
    padding-top: 15px;
      position:relative
  }
  
  .mobile .header>span {
    font-size: 24px;
    min-width: 24px
  }
  
  .mobile .header>.title {
    font-size: 16px;
    line-height: 24px;
    margin-left: 15px
  }
  
  .mobile .header .pull-left {
    float: left
  }
  
  .mobile .header .pull-right {
    float: right
  }
  .mobile .header .ion-ios-search{
      z-index:999;
      position:relative;
  }
  
  .mobile .header .ion-ios-arrow-back {
    min-width: 25px
  }
  
  .mobile .header .ion-ios-navicon>i {
    height: 1px;
    width: 20px;
    margin-top: 5px;
    background: #fff;
    position: relative;
    display: inline-block
  }
  
  .mobile .header .ion-ios-navicon>i:after,
  .mobile .header .ion-ios-navicon>i:before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background: inherit
  }
  
  .mobile .header .ion-ios-navicon>i:before {
    bottom: 12px
  }
  
  .mobile .header .ion-ios-navicon>i:after {
    bottom: 6px
  }
  .mobile .header .search{
      right:0;
      bottom:0;
      position:absolute;
  }
  .mobile .header .search input{
      width:0;
      color:#fff;
      height:24px;
      border:none;
      font-size:16px;
      max-width:150px;
      font-weight:300;
      padding-right:30px;
      font-family:inherit;
      background:transparent;
      transition:all .3s ease-in-out 0s;
      border-bottom:1px solid transparent;
      -webkit-appearance:textfield;
  }
  .mobile .header .search input:focus{
      outline:none;
  }
  .mobile .header .search input::-webkit-search-decoration,
  .mobile .header .search input::-webkit-search-cancel-button {
      -webkit-appearance:none;
  }
  .mobile .header .search .search-visible{
      width:100%;
      border-bottom-color:#aaa;
  }
  .pull-left {
    float: left
  }
  
  .pull-right {
    float: right
  }

  .sidebar-content{
    color: #76b852;
    float: inline-end;
  }
  
  .sidebar .sidebar-content,
  .sidebar .sidebar-overlay {
    font-weight: bold;
    float: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all .3s ease-in-out 0s
  }
  
  .sidebar .sidebar-overlay {
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 999;
    transform: scale(0);
    background: rgba(0, 0, 0, .4)
  }
  
  .sidebar .sidebar-content {
    width: 20%;
    color: #333;
    padding: 15px;
    z-index: 9999;
    background: #fff;
    transform: translateX(-100%)
  }

  .sidebar-overlay{
      min-height: 100vh;
  }
  
  .sidebar.active .sidebar-content {
      min-height: 100vh;
    transform: translateX(0)
  }
  
  .sidebar.active .sidebar-overlay {
    opacity: 1;
    transform: scale(1)
  }
  
  .sidebar .sidebar-content .top-head .name {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px
  }
  
  .sidebar .sidebar-content .top-head .email {
    font-size: 13px;
    margin-bottom: 50px
  }
  
  .sidebar .sidebar-content .nav-left>a {
    color: #333;
    display: block;
    font-size: 16px;
    padding: 10px 0;
    line-height: 24px;
    text-decoration: none
  }
  
  .sidebar .sidebar-content .nav-left>a>span {
    color: #aaa;
    font-size: 24px;
    min-width: 40px;
    display: inline-block
  }

  .sidebar-link{
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(#FFF, 0.35);
    display: block;
    transition: all ease-out 300ms;
  }

  .sidebar-link.active  {
    color: white;
  }

  
  
  @media (max-width: 350px){
    .logo{
      width: 110px;
    }
  }

  @media (max-width: 700px){
    .sidebar .sidebar-content {
        width: 85%;
      }
  }

  @media (min-width: 700px) and (max-width: 1200px){
    .sidebar .sidebar-content {
        width: 40%;
      }
      
  }