{% extends 'home_pages/sidebar.html' %}


{% block static_content %}
<link href="{{ url_for('static', filename='css/main_page_css/contest_ques.css') }}" rel="stylesheet" type="text/css"
    media="all" />
<script rel="javascript" type="text/javascript" src="{{ url_for('static',filename='js/contest_ques.js') }}"></script>

{% endblock %}


{% block main_content %}
<div class="Timer"></div>
<input id="clicker" type="checkbox" />
<label for="clicker">Click me! I'm an arbitrary trigger</label>
<meta id='ticketID' ticketID="{{ ticketID }}">
<br>
<div class="question_floor" id="question_floor">
    <div class="question_box">
        <div id="question_statement">

        </div>
        <div class="question_options">
            <div class="option1" id="option1">

            </div>
            <div class="option2" id="option2">

            </div>
            <div class="option3" id="option3">

            </div>
            <div class="option4" id="option4">

            </div>
        </div>
    </div>
    <div class="navigation-next-previous">
        <button type="button" id="navigation_button_previous" previous="9" class="navigation_button previous">&laquo;
            Previous</button>
        <button type="button" id="navigation_button_next" next="1" class="navigation_button next">Next &raquo;</button>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <p>once you start the contest. don't go back or close the contest</p>
        <a id="go_back" href="/ticket/{{ticketID}}">Go Back</a>
        <button type="button" id="start_contest" class="confirm_button">Start</button>
    </div>

</div>

<div class="panel-wrap">
    <div class="panel">
        <h3>Yay! Panels!</h3>
        {% for i in range(10) %}
        <button class="panel_button" type="button" onclick='question_number("{{ i }}")'>
            <div class="panel_button_div">
                Question {{ i + 1 }}
            </div>
        </button>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}