{% extends 'home_pages/sidebar.html' %}


{% block static_content %}
<link href="{{ url_for('static', filename='css/main_page_css/contest_env.css') }}" rel="stylesheet" type="text/css"
    media="all" />
{% endblock %}


{% block main_content %}
<br>
<div class="ticket_info">
    <tr>
        <td>ObtainedScore</td>
        <td>{{ ticket_info[3] }}/{{ ticket_info[4] }}</td> 
    </tr>
    <br>
    {% if ticket_info[8] %}
    <tr>
        <td>timeTaken</td>
        <td>{{ ticket_info[8] - ticket_info[11] }}</td> 
    </tr>
    {% endif %}
    <br>
    <tr>
        <td>RankAchieved</td>
        <td>{{ ticket_info[5] }}</td> 
    </tr>
    <br>
    <tr>
        <td>AwardReceived</td>
        <td>{{ ticket_info[6] }}</td> 
    </tr>
    <br>
    <tr>
        <td>TestStartDate</td>
        <td>{{ ticket_info[11] }}</td> 
    </tr>


    <button class="ticket_state_button">
        {% if ticket_info[10] == 0 %}
            <a href="/{{ ticket_key }}">Use Ticket</a>
        {% elif ticket_info[10] == 1 %}
            Ticket Already Used
        {% else %}
            Ticket Expire
        {% endif %}
    </button>
</div>
{% endblock %}