{% extends 'home_pages/sidebar.html' %}


{% block static_content %}
<link href="{{ url_for('static', filename='css/main_page_css/contest_ques.css') }}" rel="stylesheet" type="text/css"
    media="all" />
<link href="{{ url_for('static', filename='css/main_page_css/thank_you.css') }}" rel="stylesheet" type="text/css"
    media="all" />
<script rel="javascript" type="text/javascript" src="{{ url_for('static',filename='js/contest_ques.js') }}"></script>

{% endblock %}


{% block main_content %}
<div class="Timer">Time Left:<span id="Timer"></span></div>
<input class="panel_slider" id="clicker" type="checkbox" />
<div class="pannel_open">
    <button class="clicker" id="clicker" type="button">&#8249;</button>
</div>
<meta id='ticketID' ticketID="{{ ticketID }}" timeStart="{{ ticketDate }}">
<br>
<div class="question_floor" id="question_floor">
    <div class="question_box">
        <meta id="question-id" questionId="##">
        <div>
            Question
            <span id="QuestionNumber"></span>:
            <span id="question_statement">

            </span>
        </div>
        <br><br>
        <div class="question_options">
            <input class="hide_checkbox" id="option1_clickbox" type="checkbox" />
            <button class="option_button" id="option1_button">
                <div class="option" id="option1">

                </div>
            </button>
            <br>
            <input class="hide_checkbox" id="option2_clickbox" type="checkbox" />
            <button class="option_button" id="option2_button">
                <div class="option" id="option2">

                </div>
            </button>
            <br>
            <input class="hide_checkbox" id="option3_clickbox" type="checkbox" />
            <button class="option_button" id="option3_button">
                <div class="option" id="option3">

                </div>
            </button>
            <br>
            <input class="hide_checkbox" id="option4_clickbox" type="checkbox" />
            <button class="option_button" id="option4_button">
                <div class="option" id="option4">

                </div>
            </button>
            <br>
            <br>
        </div>
    </div>
    <div class="navigation-next-previous">
        <button type="button" id="navigation_button_previous" previous="9" class="navigation_button previous">&laquo;
            Previous</button>
        <button type="button" id="navigation_button_next" next="1" class="navigation_button next">Next &raquo;</button>
    </div>
</div>
<br>
<div class="sumbit_floor">
    <span id="checkbox_msg"></span>
    <span>
        <input type="checkbox" id="Finish_checkbox" required="">
        Mark this before FINISH
        <button type="button" value="FINISH" id="finish_contest">
            FINISH
        </button>
    </span>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <p>once you start the contest. don't go back or close the contest</p>
        <a id="go_back" href="/ticket/{{ticketID}}">Go Back</a>
        <button type="button" id="start_contest" class="confirm_button">Start</button>
    </div>

</div>


<div id="thankYou" style="display: none;">
    <div id="thankyou_main">
        <!-- <div id="smiley">
            =)
        </div> -->
        <br><br>
        <!-- <div id="message"> -->
        <div> You For Playing!
            <!-- <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div> -->
            <a href="/ticket/{{ticketID}}">Back</a>
        </div>
    </div>
</div>


<div class="panel-wrap">
    <div class="panel">
        <h3>Yay! Panels!</h3>
        {% for i in range(10) %}
        <button class="panel_button" id='navigation_button_{{i}}' type="button" onclick='question_number("{{ i }}")'>
            <div class="panel_button_div" id='navigation_main_button_{{i}}'>
                {{ i + 1 }}) <span id="respone_side_panel_{{i}}">Unattempted</span>
            </div>
        </button>
        <br>
        {% endfor %}
        <div class="pannel_collapse">
            <button class="clicker" id="clicker" type="button"></button>
        </div>
    </div>
</div>

{% endblock %}