{% extends 'admin/dashboard_iframe.html' %}



{% block body %}
<a class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button"
    aria-expanded="false" aria-controls="collapseExample">
    <p style="text-align: center;">Create New Contest</p>
</a>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <section class="content">
            <form id="CreateContestForm">
                <div class="form-group">
                    <label for="ContestID">ContestID</label>
                    <input type="text" class="form-control" id="ContestID" name="ContestID" aria-describedby="emailHelp"
                        placeholder="eg. Contestid-1">
                </div>
                <div class="form-group">
                    <label for="CompletionDate">Completion Date</label>
                    <input type="date" class="form-control" id="CompletionDate" name="CompletionDate"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="TicketPrice">Ticket Price</label>
                    <input type="text" class="form-control" id="TicketPrice" name="TicketPrice"
                        aria-describedby="emailHelp" placeholder="eg. 100">
                </div>
                <div class="form-group">
                    <label for="TotalSpots">Total Spots</label>
                    <input type="text" class="form-control" id="TotalSpots" name="TotalSpots" placeholder="eg. 500">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>
</div>
<hr style="height:2px;color:gray;background-color:gray">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ContestID</th>
                <th scope="col">CompletionDate</th>
                <th scope="col">TicketPrice</th>
                <th scope="col">TotalSpots</th>
                <th scope="col">IsActive</th>
                <th scope="col">SpotsLeft</th>
            </tr>
        </thead>
        <tbody>
            {% for contest in all_contest %}
            <tr  contestid="{{contest[0]}}" class="accordion-toggle collapsed" id="accordion1"
                data-toggle="collapse" data-parent="#accordion1" href="#{{contest[0]}}">
                <td class="expand-button"></td>
                <th scope="row">{{contest[0]}}</th>
                <td>{{contest[1]}}</td>
                <td>{{contest[2]}}</td>
                <td>{{contest[3]}}</td>
                <td>{{contest[4]}}</td>
                <td>{{contest[5]}}</td>

            </tr>
            <tr class="hide-table-padding">
                <td></td>
                <td colspan="3">
                    <div id="{{contest[0]}}" class="collapse in p-3">
                        <div class="row">
                            <div class="col-2">label</div>
                            <div class="col-6">value 1</div>
                        </div>
                        <div class="row">
                            <div class="col-2">label</div>
                            <div class="col-6">value 2</div>
                        </div>
                        <div class="row">
                            <div class="col-2">label</div>
                            <div class="col-6">value 3</div>
                        </div>
                        <div class="row">
                            <div class="col-2">label</div>
                            <div class="col-6">value 4</div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}