{% extends 'home_pages/footer.html' %}

{% block static_sidebar %}

<link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script rel="javascript" type="text/javascript" src="{{ url_for('static',filename='js/sidebar.js') }}"></script>


<!-- content static files -->
{% block static_content %}
{% endblock %}

{% endblock %}

{% block sidebar %}

<div class="mobile-wrap">
	<div class="mobile clearfix">
		<div class="header">
			<span class="ion-ios-navicon pull-left"><i></i></span>
            <object type="image/svg+xml" data="{{ url_for('static', filename='images/logo/default-monochrome.svg') }}" class="logo">
                <!-- Your fall back here -->
                <img src="{{ url_for('static', filename='images/logo/default-monochrome.svg') }}" />
            </object>
            
			<span class="ion-ios-search pull-right"></span>
			<div class="search">
			<form method="post">
				<input type="search" placeholder="Search Here">
			</form>
			</div>
		</div>
		<div id="sidebar" class="sidebar ">
			<div class="sidebar-overlay"></div>
			<div class="sidebar-content">
				<div class="top-head sidebar-text">
					<object   type="image/svg+xml" data="{{ url_for('static', filename='images/logo/default-monochrome.svg') }}" class="logo">
                        <!-- Your fall back here -->
                        <img  src="{{ url_for('static', filename='images/logo/default-monochrome.svg') }}" />
                    </object>   
				</div>
				<div class="nav-left">
					<a href="#home" class="sidebar-text sidebar-link">Live Contests</a>
					<a href="#alarm" class="sidebar-text sidebar-link">My Activity</a>
					<a href="#compose" class="sidebar-text sidebar-link">My Profile</a>
					<a href="#chats" class="sidebar-text sidebar-link">Wallet</a>
					<a href="#profile" class="sidebar-text sidebar-link">Contact Us</a>
                    {% if session['UserData'] %}
                    <a href="/logout" class="sidebar-text sidebar-link">Logout</a>
                    {% else %}
                    <a href="/login" class="sidebar-text sidebar-link">Login</a>
                    {% endif %}
                </div>
			</div>
		</div>
		<div class="content">
			{{ session['UserData'] }}
		</div>
	</div>
</div>
{% endblock %}


